*{
    box-sizing: border-box;

}

body{
    margin: 0px;
}
 
#bgimg-contactus{
    padding-top: 200px;
    padding-bottom: 200px;
    border: 2px solid black;
    width: 100%;
    display: block;
    background-size: contain;
    
}

.contact-text{
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-size: 50px;
    border: 2px solid black;
    width: 300px;
    display: block;
    text-align: center;

}

#our-team-title{
    padding-top: 70px;
    padding-bottom: 70px;
    border: 2px solid black;
    overflow: auto;
}

.team-title{
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}

#team-rone{
    width: 100%;
    border: 2px solid black;
}


#cover-rone{
    display: flex;
    flex-direction: row;
    
    border: 2px solid black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.members-rone{
    width: 250px !important;
    border: 2px solid black;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
}

#team-rtwo{
    width: 100%;
    border: 2px solid black;
}

#cover-rtwo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid black;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.members-rtwo-cover{
    flex: 250px;
    border: 2px solid black;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.members-rtwo{
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    width: 250px;
}

.member-picture{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    height: 100%;
}

.member-name{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    text-align: center;
}

#member-pic-1{
    width: 100%;
}

#member-pic-2{
    width: 100%;
}

#member-pic-3{
    width: 100%;
}

#member-pic-4{
    width: 100%;
}

#member-pic-5{
    width: 100%;
}

#member-pic-6{
    width: 100%;
}

#tech-support{
    width: 100%;
    border: 2px solid black;
}

#tech-support-cover{
    width: 80%;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
}

.inner-section{
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1000px){
    #cover-rone{
        width: 100%;
    }

    #cover-rtwo{
        width: 100%;
    }
}